@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.autocomplete-wrapper {
    width: 100%;
}

.autocomplete-wrapper .MuiOutlinedInput-root {
    background-color: transparent;
    font-size: 18pt;
}

.autocomplete-wrapper .MuiOutlinedInput-input {
    font-size: 18pt;
}

.autocomplete-wrapper .MuiInputLabel-root {
    font-size: 18pt;
}

.autocomplete-wrapper
    .MuiOutlinedInput-root:hover
    .MuiOutlinedInput-notchedOutline {
    border: none;
}

.autocomplete-wrapper
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border: none;
}

.MuiAutocomplete-option {
    font-size: 18pt;
}

.line-autocomplete .MuiOutlinedInput-notchedOutline {
    border: none;
}

.line-autocomplete
    .MuiOutlinedInput-root.Mui-focused
    .MuiOutlinedInput-notchedOutline {
    border: none;
}

.line-autocomplete .MuiInputBase-input {
    color: gray;
    font-size: 18pt;
    font-family: "Indie Flower", cursive;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.line-autocomplete {
    width: 100%;
}

.line-autocomplete .MuiOutlinedInput-root {
    border-radius: 0;
    background: transparent;
    padding: 0;
}

.line-autocomplete
    .MuiOutlinedInput-root:hover
    .MuiOutlinedInput-notchedOutline {
    border: none;
}

.MuiAutocomplete-hasPopupIcon.css-1tlcqt-MuiAutocomplete-root
    .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-1tlcqt-MuiAutocomplete-root
    .MuiAutocomplete-inputRoot {
    padding: 0px;
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 0px;
}

.css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0px;
}

@media screen and (max-width: 767px) {
    .autocomplete-wrapper .MuiOutlinedInput-root {
        font-size: 14pt;
    }

    .autocomplete-wrapper .MuiOutlinedInput-input {
        font-size: 14pt;
    }

    .autocomplete-wrapper .MuiInputLabel-root {
        font-size: 14pt;
    }

    .MuiAutocomplete-option {
        font-size: 14pt;
    }

    .line-autocomplete .MuiInputBase-input {
        font-size: 14pt;
    }
}
