#rate_course_option_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 50px;
    height: 50px;
    font-family: "Indie Flower", cursive;
    background-color: transparent;
    border: none;
}

.selectionSymbol {
    color: rgba(255, 0, 0, 0.794);
    z-index: -1;
    font-size: 6rem;
    transition: all 0.1s linear;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
