.delete-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #7c809b;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

.delete-icon {
    width: 20px;
    height: 20px;
}

.delete-button-wrapper {
    display: flex;
    justify-content: center;
}

.delete-button {
    display: inline-flex;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.495);
}

@media screen and (max-width: 767px) {
    .delete-button {
        background-color: transparent;
    }

}
