.delete-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #7c809b;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: fit-content;
    align-self: center;
}

.delete-icon {
    width: 20px;
    height: 20px;
}

.delete-button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.delete-button {
    display: inline-flex;
    justify-content: flex-start;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    gap: 6px;
    flex-direction: column;
}
