:root {
    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    --text-h: #f3f4f6;
    --border: #7c809b;
}

body {
    margin: 0;
    background-color: rgb(225, 225, 225);
}

#root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-inline: 1px solid var(--border);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* @media screen and (max-width: 880px) {
    root {
        width: 100%;
    }
} */

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color :#7c809bd0; 

}

h1 {
    font-size: 2.5rem;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        margin: 20px 0;
    }
}
h2 {
    padding-top: 1.8rem;
    font-size: 2.5rem;
    line-height: 118%;
    @media screen and (max-width: 768px) {
        font-size: 1.8rem;
    }
}
p {
    margin: 0;
}
