.login-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.495);
    color: #7c809b;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: auto;
    font-size: 15px;
}

.logut-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #7c809b;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
}

.logout-icon,
.login-icon {
    width: 20px;
    height: 20px;
}

.logging-wrapper {
    width: fit-content;
    margin-left: auto;
}


.logging {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



.user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.495);
}

/* Remove the white background from user-name since the container handles it */
.user-name {
    display: inline-block;
    color: #7c809b;
    padding: 4px 8px;
    margin-bottom: 0;
    /* remove the gap, let the container gap handle it */
    background-color: transparent;
    /* or keep white if you want a pill inside */
}

.login-div {
    align-items: flex-end;
}

@media screen and (max-width: 767px) {
    .logging {
        background-color: rgba(255, 255, 255, 0.495);
        height: 7vh;
    }

    .logging p {
        font-size: 0.75rem;
    }

    .user-row {
        padding: 5pt;
        background-color: transparent;
    }

    .user-name {
        display: flex;
        flex-wrap: wrap;
        max-width: 25vw;
        line-height: 1.5em;
    }
}
