@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.page {
    display: flex;
    justify-self: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20pt;
    margin: 10px;
}

.page p {
    padding-right: 10px;
    padding-left: 10px;
}

.course-container {
    background-image: url("/src/assets/images/paper.jpg");
    color: black;
    width: fit-content;
    height: fit-content;
    text-wrap: nowrap;
    text-align: left;
    padding: 40px 40px 40px 30px;
}

.textAndInput {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.codeAndGrade {
    display: flex;
    flex-direction: row;
}

input {
    color: gray;
    font-size: 18pt;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-family: "Indie Flower", cursive;
}

.codeAndGrade input {
    width: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

@media screen and (max-width: 880px) {
    .course-container {
        display: flex;
        flex-direction: column;
        width: 70vw;
        font-size: 14pt;
        padding: 20px;
    }

    .codeAndGrade {
        display: flex;
        flex-direction: column;
    }

    .textAndInput {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .page p {
        padding: 0px;
    }
}
