@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.page {
    display: flex;
    justify-self: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20pt;
    margin: 10px;
}

.page p {
    padding-right: 10px;
    padding-left: 10px;
}

.course-container {
    background-image: url("/src/assets/images/paper.jpg");
    color: black;
    text-wrap: nowrap;
    text-align: left;
    padding: 40px 40px 40px 30px;
}

.textAndInput {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    align-items: center;
}

.program_name_and_button {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.departmentAndGrade {
    display: flex;
    flex-direction: row;
}

#department_container {
    width: 70%;
}

#grade_container {
    width: 30%;
}

input {
    color: gray;
    font-size: 18pt;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    font-family: "Indie Flower", cursive;
    background-color: transparent;
}

textarea:focus,
input:focus {
    outline: none;
}

#saveProgramButton {
    border: none;
    padding: 0px 5px 0px 5px;
    background-color: transparent;
    height: 50%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20pt;
}

@media screen and (max-width: 767px) {
    .course-container {
        display: flex;
        flex-direction: column;
        width: 70vw;
        font-size: 14pt;
        padding: 20px;
    }

    .program_name_and_button {
        display: flex;
        flex-direction: row;
    }

    #saveProgramButton {
        font-size: 14pt;
    }

    .departmentAndGrade {
        display: flex;
        flex-direction: column;
    }

    .textAndInput {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        width: 100%;
        align-items: baseline;
    }

    #department_container {
        width: 100%;
    }

    #grade_container {
        width: 100%;
    }

    .page p {
        padding: 0px;
    }
}
