header {
    display: flex;
    flex-direction: row;
    background-color: #7c809b;
    color: white;
    height: 12vh;
    width: 100%;
}

.logo-name-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 10vh;
    padding: 10px 0px 10px 10px;
}

.logo-name-container p {
    font-size: 2em;
    /* padding: 10px 10px 10px 0px; */
    font-weight: bold;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 70%;
    z-index: 12;
    height: 12vh;
}

.navbar-items-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.navbar-items-desktop :hover {
    color: black;
    background-color: rgb(225, 225, 225);
}

.navbar-items-desktop a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

/* .navbar-items-mobile {
    display: none;
} */

.hamburger {
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .navbar-items {
        width: 100%;
        background-color: #7c809b;
    }

    .navbar-items a {
        border-bottom: 1px solid lightgray;
        border-radius: 0;
    }

    /* Här håller du på: */
    .navbar-items-desktop {
        width: 70%;
    }

    .hamburger {
        visibility: visible;
    }
}
